body {
    overflow-y: scroll !important;
}

.content-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.edit-delete:hover {
    cursor: pointer;
}

.verification-icons {
    margin-left: 0.5rem;
}

#usersDataTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#usersDataTable td,
#usersDataTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#usersDataTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#usersDataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}